div.card{
  align-items: center;
}
nav.navbar{
  padding: 25px 50px;
}
.title{
  color: rgba(255,255,255,.55);
}

.card-footer{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(33,37,41);
}

.card-footer img{
  opacity: .745;
}
.card-footer img:hover{
  opacity: .55;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card-footer a {
  display: flex;
  justify-content: center;
}

.card-footer-ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0;
  padding-left: 0;
}

.card-footer-ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:rgba(255,255,255,.745)
}

.card-footer-ul li a:hover{
  color: rgba(255,255,255,.55);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card-footer-ul li a img{
margin-right: 10px;
opacity: .745;
}

#header{
justify-content: space-between!important;
text-align: center;
padding: 15px;
max-height: 100px;
min-height: 100px;
}

#navImage{
  max-width: 100px;
  border: 3px solid #f8f8f8;
}

body{
  background-color: #f8f8f8;
}

body * {
  font-family:'Albert Sans', sans-serif;
}
.myPersonalInfo{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 15px;
}

#mainContent{
  height: calc(100% - 216px);
  overflow: auto;
}
.navbar-brand{
  display: none!important;
  visibility: hidden;
  width: 0;
}

#basic-navbar-nav{
  width: 100%;
  justify-content: center!important;
}
#resumeLink a {
  color: inherit;
  text-decoration: none;
}

#resumeLink a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
#resumeLink a:hover {
  background-size: 0 3px, 100% 3px;
}

#resumeLink {
  text-align: center;
  margin-top: 15px;
}


@media screen and (min-width: 688px) {
  /* .navbar-brand {
    display:block!important;
    visibility: visible;
    width: inherit;
  } */
  #navImage {  
    position: relative;
    top: 50px;
    max-width: 250px;
    border: 6px solid #f8f8f8;
  }
  #basic-navbar-nav{
    justify-content: center!important;
    width: 100%;
    padding: 0;
  
  }
  #header{
    max-height: 200px;
    min-height: 200px;
    margin-bottom: 50px;
  }
  #mainContent{
    height: calc(100% - 316px);
    overflow: auto;
  }
}
